@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    background-color: #1a202c;
  }
  
  ::-webkit-scrollbar-track {
    background: #1a202c; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #00eeff, #4c70af); 
    border-radius: 1.2px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #00BFFF, #388E3C); 
  }